* {
	margin: 0;
	padding: 0;
}

html, body {
	background: salmon;
	height: 100%;
}
header {
	background: goldenrod;
	height: 75px;
	padding-left: 2em;
}
main {
	height: calc(100% - 125px);
	padding: 0 15%;
}
footer {
	background: forestgreen;
	color: white;
	height: 50px;
}

h1, h2 {
	padding-top: 0.5em;
	font-size: 1.5em;
}
p {
	text-indent: 0.5em;
	padding-top: 0.625em;
}
header > p {
	font-size: 0.8em;
	padding-top: 0.25em;
}